body{
  margin: 25px;
}
.ul-flex{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-evenly;
}
.ul-flex div{
  width: 250px;
  background-color: #85ebf2a5;
  padding: 10px;
  border-radius: 20px;
}